*{ 
    margin:0;
    padding: 0;
    border:none;
}
body{

}
.navbar{
    display:flex;
    padding:24px 72px 32px 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;

}
.logo{
    font-size: 24px;
    font-weight: 500;
    color:#374151;
}
.search{
    display:flex;
    align-items: center;
    border-bottom: 1px solid #9CA3A7;
    Padding:4px;
}
.search-icon{
    margin-right: 16px;
    color:#9CA3AF;
}
.search-input{
    border:none;
    background: none;
    outline:none;
}
.search-input::placeholder{
    color:#9CA3AF;
}
.menu{
    display:flex;
    width:30%;
    align-items:center;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    font-size: 16px;
    font-weight: 500px;
    color:#6B7280;
    
}
.basket{
    display:flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color:#1F2937
}
.menu .basket {
    display:flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500px;
    color: #1F2937;

}
.second-nav{
    padding: 20px 72px;
}
.navlinks{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    
}
.navlinks li{
    list-style: none;
    
}
.navlinks li a{
    text-decoration: none;
    color:#374151;
    font-size:14px;
    font-weight:600px
}
.navlinks li span{
    background-color: #EB5757;
    padding:4px 8px;
    color:#FFFFFF;
    border-radius:2px;
    font-weight: 500;
    font-size: 13px;

}
.header{
    display:flex;
    height:100vh;
    width:100%;
}
.text{
    background: url(./images/stripe.png), #1C2333;
    height:100%;
    width:70%;
    margin-bottom: 4;
}
.box{
    margin: 125px 96px;
    background-color: #1F2937;
    padding:40px;
    width:55%;
}
.percentage{
    font-size: 56px;
    font-weight: 600px;
    color:#FAFAFA;
}
.arrivals{
    color:#F7C59F;
    font-size: 56px;
    font-weight:600;
}
p{
    font-size: 18px;
    font-weight: 400;
    color:#F3F4F6;
    margin-top: 24px;
}
.outline{
    margin-top: 56px;
    background-color: transparent;
    border:1px solid #FAFAFA;
    padding:12px 16px;
    font-size: 16px;
    font-weight: 600;
    color:#FAFAFA;
}
.image{
    background-color: #F76595;
    width:30%;
}
.circle{
border-radius: 50%;
background-color: #FFFFFF;
width:300px;
height:300px;
margin:33% auto;
display: flex;
justify-content: center;
}
.img{
    height:550px;
    width:250px;
    object-fit: cover;
    margin-top: -34%;
}
.high{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    text-underline-offset: 3px;      
    text-decoration-color: #000;
    
    
}

.white {
  display: flex;
  justify-content: space-between;
  width: 100vw; 
  height: 100vh; 
}

.shoe1 {
  width: 37vw; 
  height: 70%;
  position: relative;
  left: 35px;
  margin-left: 2%;
}

.product-hangar {
  width: 65vw; 
  height: 70%;
  position: relative;
  margin-left: 40px;
  padding-right: 40px;
  margin-right: 5%;
}


.shoe, .hangar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exclusive{
  position: absolute;
  top: 20%;
  left: 5%;
  color: #FAFAFA;
  
}
.exclusive p{
  font-size: 36.6px;
  font-weight: 600;
  text-align: center;
  text-shadow: #000;

}
.hanngar-exquisite p {
  font-size: 36.6px;
  font-weight: 600;
  align-items: center;
  text-align: center;

}
.hanngar-exquisite {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #FAFAFA;
  font-size: 60px;
  font-weight: 600;
  text-align: center;


}

.text-shoe, .text-hangar {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #FAFAFA;
  background-color: #1F2937;
  opacity:0.5;
  padding:10px;
  font-size: 12.5px;
}
.second-box{
    margin-top: 2px;  
}
  



.white-second {
  display: flex;
  justify-content: space-between;
  height: 500px;
  padding: 33px;
  background: #fff;
  

}

.product {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 0; 
}

.product.hangaerrs {
  width: 60vw;
}

.product.shoe_bag {
  width: 30vw;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hanndd p,
.baggs p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 1.3;
  z-index: 2;
}


.text-hangaerrs p,
.text-shoe_bag p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #FAFAFA;
  font-size: 1rem;
  padding: 10px 15px;
  
  
}
